<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Meal Planner</title>
  <link rel="stylesheet" href="/static/style2.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <div class="con">
    <div class="container">
      <div class="img1">
        <img src="/static/img3.jpg" alt="Healthy meal plan" loading="lazy">
      </div>
      <div class="text-container">
        <h1>Welcome To</h1>
        <h2>AI Meal Planner</h2>
        <p>Our AI app generates a one-week meal plan based on your dietary preferences, allergies, health goals, and number of meals per day. Whether you're trying to lose weight, gain muscle, or simply eat healthier, our app provides customized meal plans to help you achieve your goals. Say goodbye to meal prep stress and hello to delicious, nutritious meals!</p>
        <a href="generate">Go To Generate</a>
        <a href="Find_Similar_Items">Find Similar Items</a>
        <a href="Choose_nutritional">Choose a Nutritional Need</a>
        <!-- <a href="Choose_nutritional">Make A Diet Plan</a> -->
      </div>
    </div>
  </div>
</body>
</html>
